:root {
    --z-index2: 5;
}

#sell {
    font-family: "Poppins";
    text-align: center;
    background: #3b0067;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    -webkit-transition: background-color 300ms ease-in;
    border-radius: 10px;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    position: relative;
    margin-bottom: 2.1rem;
    width: 25vmin;
    height: 9vmin;
    align-items: center;
    border: transparent;
    color: rgb(255, 255, 255);
    font-weight: 400;
    font-size: 3vmin;
}

#sell:hover {
    cursor: pointer;
    background-color: #2c004e;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }

#info_box2 {
    height: 86%;
    width: 100%;
    position: absolute;
    overflow: auto;
    z-index: var(--z-index2);
}

#columntickets {
    display: grid;
    align-items: end;
    grid-auto-flow: column;
}

/*-----Hover effects-----*/
#eventbox:hover {
    transform: scaleY(1.08);
    transform: scaleX(1.015);
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

h5 {
    font-family: "Poppins";
    font-weight: 500;
    font-size: 3vmin;
    margin-left: 3rem;
    position: relative;
    margin: auto;
    left: 15%;
    top: 5%;
}

h4 {
    font-family: "Poppins";
    font-weight: 100;
    font-size: 2vmin;
    position: relative;
    margin: auto;
    left: 5%;
    top: 5%;
}

#ticketImg {
    background-image: url("../ticket.svg");
    width: 500%;
    height: 200%;
    position: relative;
    display: block;
    margin-left: 2rem;
    background-size: 7vmin;
    background-repeat: no-repeat;
}

#row {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    display: grid;
    grid-auto-flow: column;
    justify-content: start;
    column-gap: 12%;
}