:root {
    --z-index: 5;
}

#info_box {
    height: 86%;
    width: 100%;
    position: absolute;
    overflow: auto;
    z-index: var(--z-index);
}

#eventbox {
    background-color: #3b0067;
    -webkit-transition: transform 200ms ease-in;
    border-radius: 10px;
    overflow: hidden;
    width: 80%;
    height: 10rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
    margin-left: 2rem;
    box-shadow: 4px 4px 9px rgba(0, 0, 0, 0.25);
}

/*-----Hover effects-----*/
#eventbox:hover {
    transform: scaleY(1.08);
    transform: scaleX(1.015);
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}  

h5 {
    font-family: "Poppins";
    font-weight: 500;
    font-size: 3vmin;
    margin-left: 3rem;
    position: relative;
    margin: auto;
    left: 15%;
    top: 5%;
}

h4 {
    font-family: "Poppins";
    font-weight: 100;
    font-size: 2vmin;
    position: relative;
    margin: auto;
    left: 5%;
    top: 5%;
}

#eventImg {
    background-image: url("../event.svg");
    width: 500%;
    height: 200%;
    position: relative;
    display: block;
    margin-left: 2rem;
    background-size: 7vmin;
    background-repeat: no-repeat;
}

#row {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    display: grid;
    grid-auto-flow: column;
    justify-content: start;
    column-gap: 12%;
}